{% extends 'store/base.html' %}
{% load my_tags %}
<title>Магазин</title>
{% block content %}
<h1 class="text-center">Магазин</h1>
<div class="col-12  mb-5">
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'store:create' %}">Добавить товар</a>
    {% endif %}
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for object in object_list %}
            <div class="col-md-5">
                <div class="card mb-5 box-shadow">
                    <img src="{{ object.images | media_filter }}">
                    <div class="card-body">
                        Автор: {{ object.owner.first_name }} {{ object.owner.last_name }}
                        <p class="card-text">
                            Наименование: {{ object.name }}<br>
                            Описание: {{ object.description | truncatechars:100 }}<br>
                            Цена: {{ object.price }} &#8381/кг<br><br>

                                {% for version in object.product.all %}
                                {% if version.sign_version == True %}


                                Номер версии: {{version.numbers_version}}<br>
                                Наименование версии: {{version.name_version}}<br>
                                Состояние: активна
                                <hr class="btn-primary">
                                {% endif %}
                                {% endfor %}

                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'store:view' object.pk %}">
                                    Просмотр
                                </a>
                                {% if perms.store.can_unpublish_product and perms.store.change_description_product and perms.store.change_category_product or user == object.owner %}
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'store:edit' object.pk %}">
                                    Редактировать
                                </a>
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'store:delete' object.pk %}">
                                    Удалить
                                </a>
                                {% endif %}
                            </div>
                            <br>
                            <small class="text-muted"> {{ object.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}