{% extends 'store/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12  mb-5">
    <a class="btn btn-outline-primary" href="{% url 'store:create' %}">Добавить товар</a>
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{{ object.images | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">
                            {{ object.name }}<br>
                            {{ object.description | truncatechars:100 }}<br>
                            {{ object.price }} &#8381/кг

                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'store:view' object.pk %}">
                                    view
                                </a>
                                 <a class="btn btn-sm btn-outline-secondary" href="{% url 'store:edit' object.pk %}">
                                    edit
                                </a>
                                 <a class="btn btn-sm btn-outline-secondary" href="{% url 'store:delete' object.pk %}">
                                    delete
                                </a>
                            </div>
                            <small class="text-muted"> {{ object.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}